 <body onload="init()" style="font-family: arial, sans-serif; font-size: 13px; border: 0;">
    <div id="sample-ui"></div>
    <div id="map3d" style="width: 500px; height: 380px;"></div>
    <br>
    <div>Installed Plugin Version: <span id="installed-plugin-version" style="font-weight: bold;">Loading...</span></div>
    
    <% @placemarks.each do |placemark| %>
      <a href="#" class="placemark" data-text="<%= placemark.text %>" data-lat="<%= placemark.latitude %>" data-lon="<%= placemark.longitude %>"><%= placemark.latitude %>, <%= placemark.longitude %></a>
      <br/>
    <% end %>
</body>
